services:
  postgres:
    image: postgres:17-alpine
    container_name: fileshare-postgres
    restart: on-failure
    environment:
      POSTGRES_INITDB_ARGS: --auth=scram-sha-256
      POSTGRES_HOST_AUTH_METHOD: scram-sha-256
      POSTGRES_DB: root_dbn
      POSTGRES_USER: root_usr
      POSTGRES_PASSWORD: root_pwd
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 3s
      timeout: 5s
      retries: 3

  minio:
    image: quay.io/minio/minio
    container_name: fileshare-minio
    restart: on-failure
    entrypoint: "minio server /data --address ':9000' --console-address ':9001'"
    environment:
      MINIO_ROOT_USER: minadmin
      MINIO_ROOT_PASSWORD: minadmin
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - minio-data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 3s
      timeout: 5s
      retries: 3

  minio-create-bucket:
    image: quay.io/minio/mc
    container_name: fileshare-minio-create-bucket
    entrypoint:
      - /bin/sh
      - -ec
      - |
        until mc alias set local http://minio:9000 "$${MINIO_USR}" "$${MINIO_PWD}"; do
          sleep 1
        done
        mc mb --ignore-existing "local/$${BUCKET_NAME}"
    environment:
      MINIO_USR: minadmin
      MINIO_PWD: minadmin
      BUCKET_NAME: usercontent
    depends_on:
      minio:
        condition: service_healthy

  nginx:
    image: nginx:1.28-alpine
    container_name: fileshare-nginx
    ports:
      - 8000:8000
    volumes:
      - ./docker-nginx-conf:/etc/nginx/conf.d
    extra_hosts:
      - host.docker.internal:host-gateway
    depends_on:
      minio:
        condition: service_healthy

  mailpit:
    image: axllent/mailpit
    container_name: fileshare-mailpit
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH: mp_user:mp_password
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
    ports:
      - 8025:8025
      - 1025:1025
    volumes:
      - mailpit-data:/data

volumes:
  postgres-data:
    driver: local
    name: fileshare-postgres-data
  minio-data:
    driver: local
    name: fileshare-minio-data
  mailpit-data:
    driver: local
    name: fileshare-mailpit-data
